<div class="container">

<ul class="nav nav-tabs">
  <li class="active"><a href="#tab1" data-toggle="tab">フォロー</a></li>
  <li><a href="#tab2" data-toggle="tab">フォロワー</a></li>
</ul>
 
<div class="tab-content">
  <div class="tab-pane active" id="tab1">Tab1 Content
    <table class="table">
    <% @user.followed_users.each do |user| %>
    <tr><td><%= profile_img(user) %></td>
      <td><%= user.name %></td>
      <td><%= render 'follow_form', user:user %><td></tr>
        <% end %></table></div>
      <div class="tab-pane" id="tab2">
     <table class="table">
        <% @user.followers.each do |user| %>
    <tr><td><%= profile_img(@user) %></td>
        <td><%= user.name %></td>
        <td><%= render 'follow_form', user:user %><td></tr>
          <% end %></table>
        </div>
      </div>
